{% extends 'base.html.twig' %}

{% block body %}


    {% if ismale %}
        {% set genderclass = 'btn btn-primary btn-lg btn-block' %}
    {% else %}
        {% set genderclass = 'btn btn-success btn-lg btn-block' %}
    {% endif %}
    {{ form_start(form) }}
    Comparing names as {{ person.name }}
    <div class="row">

        <div class="col-xs-12">
            {{ form_widget(form.name1, {'attr': {'class': genderclass}}) }}
        </div>
    </div>
    &nbsp;
    <div class="row">
        <div class="col-xs-12">
            {{ form_widget(form.name2, {'attr': {'class': genderclass}}) }}
        </div>

    </div>
    {{ form_end(form) }}
{% endblock %}