{% extends 'base.html.twig' %}

{% block body %}
    {% for person in people %}
        <h3>Rankings for {{ person.name }}</h3>
<div class="row">
    <div class="col-xs-6 table-responsive">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>#</th>
        </tr>
        </thead>
    {% for rank in person.rankings %}
        {% if rank.name.isMale %}
        <tr>
            <td>{{ rank.name.name }}</td>
            <td>{{ rank.rank }}</td>
            <td>{{ rank.numberOfComparisons }}</td>
        </tr>
        {% endif %}
    {% endfor %}
    </table>
    </div>

    <div class="col-xs-6 table-responsive">
    <table class="table table-condensed">
        <thead>
        <tr>
            <th>Name</th>
            <th>Rank</th>
            <th>#</th>
        </tr>
        </thead>
        {% for rank in person.rankings %}
            {% if not rank.name.isMale %}
                <tr>
                    <td>{{ rank.name.name }}</td>
                    <td>{{ rank.rank }}</td>
                    <td>{{ rank.numberOfComparisons }}</td>
                </tr>
            {% endif %}
        {% endfor %}
    </table>
    </div>
</div>
{% endfor %}
{% endblock %}